<p>update-people works!</p>
<div class="bg-success p-2 text-dark bg-opacity-10 col-md-9 offset-md-1" id="move">

    <div class="container">


        <form (ngSubmit)="onSubmit()">

            <div class="row g-3">
              
                

                <div class="col-md-2">
                    <label class="form-label">Anrede</label>
                    <select class="form-control" id="anrede" [(ngModel)]="person.anrede" name="anrede">
                        <option selected>--</option>
                        <option>Herr</option>
                        <option>Frau</option>
                    </select>
                </div>
                <div class="col-md-3">

                    <label class="form-label">Title</label>
                    <select class="form-control" id="title" [(ngModel)]="person.title" name="title">
                        <option selected>--</option>
                        <option>Doc</option>
                        <option>Prof</option>
                        <option>Ing.Chef</option>
                        <option>Ing</option>
                        <option>Werkst</option>
                        <!-- <option *ngFor="let title of titles" [value]="title">{{title}}</option> -->
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Firma</label>
                    <input type="text" class="form-control" id="firma" [(ngModel)]="person.firma" name="firma">
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <div class="was-validated">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" [(ngModel)]="person.nachname"
                            name="nachname" placeholder="Last Name" required>
                        <div class="invalid-feedback">
                            <small>Last Name is required</small>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="was-validated">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="person.vorname"
                            placeholder="First Name" name="firstname" required>
                        <div class="invalid-feedback">
                            <small>First Name is required</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- </div>
        <div class="col-md-6">
            <div class="form-group" [ngClass]="{
                        'has-danger': dob.invalid && (dob.dirty || dob.touched),
                        'has-success': dob.valid && (dob.dirty || dob.touched)
                    }">
                <label for="dob" class="form-label">DOB</label>
                <input type="date" class="form-control" id="dob" formControlName="dob">
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group" [ngClass]="{
                    'has-danger': strHausnr.invalid && (strHausnr.dirty || strHausnr.touched),
                    'has-success': strHausnr.valid && (strHausnr.dirty || strHausnr.touched)
                }">
                <div class="was-validated">
                    <label for="strHausnr" class="form-label">Straße und Hausnummer</label>
                    <input type="text" class="form-control" id="strHausnr" formControlName="strHausnr" required>
                    <div class="invalid-feedback">
                        <small>Please enter the correct Address</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="{
                        'has-danger': plz.invalid && (plz.dirty || plz.touched),
                        'has-success': plz.valid && (plz.dirty || plz.touched)
                    }">
                <div class="was-validated">
                    <label for="plz" class="form-label">PLZ</label>
                    <input type="text" class="form-control" id="plz" formControlName="plz" required>
                    <div class="invalid-feedback">
                        <small>Enter your postal code</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="{
                        'has-danger': ort.invalid && (ort.dirty || ort.touched),
                        'has-success': ort.valid && (ort.dirty || ort.touched)
                    }">
                <div class="was-validated">
                    <label for="place" class="form-label">City</label>
                    <input type="text" class="form-control" id="place" formControlName="ort" required>
                    <div class="invalid-feedback">
                        <small>Enter your city</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="{
                        'has-danger': country.invalid && (country.dirty || country.touched),
                        'has-success': country.valid && (country.dirty || country.touched)
                    }">
                <div class="was-validated">
                    <label for="country" class="form-label">Country</label>
                    <input type="country" class="form-control" id="country" formControlName="country" required>
                    <div class="invalid-feedback">
                        <small>Enter your Country</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="{
                        'has-danger': handy.invalid && (handy.dirty || handy.touched),
                        'has-success': handy.valid && (handy.dirty || handy.touched)
                    }">
                <div>
                    <label for="handy" class="form-label">Handy</label>
                    <input type="text" class="form-control" id="handy" formControlName="handy" required>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="{
                        'has-danger': telefon.invalid && (telefon.dirty || telefon.touched),
                        'has-success': telefon.valid && (telefon.dirty || telefon.touched)
                    }">
                <div>
                    <label for="contact" class="form-label">Telefon</label>
                    <input type="text" class="form-control" id="telefon" formControlName="telefon" required>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" [ngClass]="{
                        'has-danger': email.invalid && (email.dirty || email.touched),
                        'has-success': email.valid && (email.dirty || email.touched)
                    }">
                <div class="was-validated">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                    <div class="invalid-feedback">
                        <small *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">Email is
                            required</small>
                        <small *ngIf="email.errors?.['pattern']">The email address must
                            contain at least the @ character</small>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->

            <button type="submit" class="btn btn-primary"> Update </button>

            <!--
    <button class="btn btn-danger" (click)="resetForm()">Reset</button>

    <div [hidden]="!submitted">
        <h2> You submitted the following: </h2>
        <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{myform.value.anrede}}</div>
        </div>
    </div> -->

            <!-- <pre>{{myform.value | json}}</pre> -->
        </form>
    </div>


</div>