<p>people-list works!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Anrede</th>
            <th>Title</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Firma</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{person.anrede}}</td>
            <td>{{person.title}}</td>
            <td>{{person.vorname}}</td>
            <td>{{person.nachname}}</td>
            <td>{{person.firma}}</td>
            <td>
                <button (click)="updatePerson(person.pk)" class="btn btn-info"> Update</button>
            </td>
            <td>
                <button (click)="deletePerson(person.pk)" class="btn btn-danger">Delete</button>
            </td>
            <td>
                <button (click)="personDetails(person.pk)" class="btn btn-info">Details</button>
            </td>
        </tr>
    </tbody>
</table>